<%= form_with model: contact, local: true,
  id: 'contact_form',
  data: {
    contact: contact.to_json,
    addresses_attributes: contact.addresses.to_json(except: [:contact_id, :created_at, :updated_at])
  } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <fieldset class="form-group">
    <legend>Addresses</legend>

    <section class="form-group"
      v-bind:id="'contact_addresses_attributes_' + index"
      v-for="(address, index) in contact.addresses_attributes">
      <%= render 'addresses/form' %>
    </section>

    <div class="form-group actions">
      <a class="btn btn-secondary form-control" href="#" role="button" v-on:click="addAddress">Add Address</a>
    </div>

  </fieldset>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>

  <div class="form-group actions">
    <%= f.submit 'Submit',
      class: 'btn btn-primary form-control' %>
  </div>
<% end %>
