<div class="row">
  <div class="col-md-7">
    <div class="card d-50">
      <h1 class="h4 card-header">
        <%= @contact.name %>
      </h1>

      <div class="card-body">
        <p><%= @contact.email %></p>
        <p><%= @contact.notes %></p>
      </div>
      <div class="card-body">
        <% @contact.addresses.each do |address| %>
          <p>
            <%= address.body['street1'] %><br />
            <% if address.body['street2'] %>
              <%= address.body['street2'] %><br />
            <% end %>
            <%= address.body['city'] %>, <%= address.body['state'] %> <%= address.body['zip'] %><br />
          </p>
        <% end %>
      </div>

      <div class="card-footer card-footer-actions">
        <div class="btn-group btn-group-sm pull-right" role="group">
          <%= link_to 'Edit', edit_contact_path(@contact),
            class: 'btn btn-secondary' %>
          <%= link_to 'Back', contacts_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>
