<div class="row">
  <div class="form-group col-md-2">
    <%= f.label :address_type %>
    <%= f.select(:address_type, Address.ADDRESS_TYPES, {},
                 class: 'form-control') %>
  </div>

  <%= f.fields_for :body do |b| %>
    <div class="form-group col-md-10">
      <%= b.label :street1 %>
      <%= b.text_field :street1, value: f.object.body['street1'], class: 'form-control' %>
    </div>

    <div class="form-group col-md-7 offset-md-2">
      <%= b.label :city %>
      <%= b.text_field :city, value: f.object.body['city'], class: 'form-control' %>
    </div>

    <div class="form-group col-md-1">
      <%= b.label :state %>
      <%= b.text_field :state, value: f.object.body['state'], class: 'form-control' %>
    </div>

    <div class="form-group col-md-2">
      <%= b.label :zip %>
      <%= b.text_field :zip, value: f.object.body['zip'], class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-check col-4 col-md-2 offset-8 offset-md-10">
    <%= f.check_box :_destroy, class: 'form-check-input' %>
    <%= f.label :_destroy, class: 'form-check-label' %>
  </div>
</div>
