<!DOCTYPE html>
<html>
  <head>
    <title>Connectly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'style' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'navbar' %>

    <main class="container mt-4">
      <%= yield %>
    </main>

    <%= render 'footer' %>
  </body>
</html>
